/*
mySiteTheme.css
Anthony Malgapo
*/

/*body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background-color: #EEE;
}*/

html,
body {
  background-color: #131313;
  color: #cccccc;
  /*background: url("http://wallpapercave.com/wp/X6PjOyY.png")no-repeat center center fixed;*/
  /*background: url("https://i.ytimg.com/vi/TEquk8KmZMs/maxresdefault.jpg")no-repeat center center fixed;*/
  /*background: url("1.jpg")no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Background credit: http://wallpapercave.com/black-gradient-wallpaper */

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Courier;
    font-size: 14px;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


#name {
  /*font-family: Streamster;*/
  /*font-size: 36px;*/
  background: -webkit-linear-gradient(red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@font-face {
  font-family: Streamster;
  src: url(fonts/Streamster.woff);
  /*src: url(fonts/gunshiphalfital.ttf);*/
}
